<div *ngIf="form.status =='VALID'; else elseBlock"><form [formGroup]="form"  class="form-goup contact-form ">
    <h1 class="title">GESTION</h1>
    <div class="container w-50  justify-content-center mt-5 mb-5 ">
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="email" formControlName="prenom" class="input-text" id="prenom" readonly="true">
        </div>
        <div class="col-md-5 mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" formControlName="nom" class="input-text" id="nom" readonly="true">
        </div>
        <div class="col-md-2 mb-3">
          <label for="age" class="form-label">Age </label>
          <input type="text" formControlName="age" class="input-text" id="age" readonly="true">
        </div>
      </div>
      <div class="col-md-5 mb-3">
        <label for="age" class="form-label">Email</label>
        <input formControlName="email" class="input-text" id="email"  readonly="true">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">*Commentaires</label>
        <textarea class="form-control" formControlName="commentaire"  id="exampleFormControlTextarea1" rows="3" readonly="true"></textarea>
      </div>
    </div>

  </form>
</div>
<ng-template #elseBlock>
  <body>
  <div class="d-flex align-items-center justify-content-center mt-5">
    <div class="text-center mt-5">
      <h1 class="display-1 fw-bold">404</h1>
      <p class="fs-3"> <span class="text-danger">Opps!</span> Page pas trouvée.</p>
      <p class="lead">
        Aucun formulaire n’a été envoyé.
      </p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
  </body>

</ng-template>
