.right{
  right: 200px;
  position: fixed;
  bottom : 28px;
  color : whitesmoke;
  font-size: 20px;

}

.footer {
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
}
